@import '/colors';

.top_container {
  background-color: $primary-white;
  width: 100%;
  height: 6rem;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top_wrapper {
  display: flex;
}

.drop_card {
  display: flex;
  align-items: center;
  width: 15rem;
  justify-content: space-between;
  color: $primary-blue;
  background-color: $primary-gray;
  border-radius: 5px;
  padding: 1rem 0.5rem;
  cursor: pointer;
  margin-right: 3rem;

  p {
    font-size: 0.8rem;
  }

  h3 {
    font-size: 1rem;
  }

  .drop_content {
    display: flex;
    align-items: center;

    svg {
      margin-right: 0.5rem;
      font-size: 1.5rem;
    }
  }
}

.form {
  position: relative;

  input {
    padding: 1rem;
    background: none;
    border: 2px solid $primary-gray;
    border-radius: 5px;
    min-height: 4rem;
    width: 18rem;
  }

  ::placeholder {
    color: $primary-blue;
  }

  button {
    background-color: $primary-green;
    color: $primary-white;
    border: none;
    border-radius: 0px 5px 5px 0px;
    padding: 1rem;
    position: absolute;
    right: 0rem;
    top: 0rem;
    font-size: 1.5rem;
  }
}

.user_details {
  display: flex;
  align-items: center;
  color: $primary-blue;
  justify-content: flex-end;

  svg {
    font-size: 1.5rem;
    margin-right: 5rem;
  }

  .user {
    display: flex;
    align-items: center;

    img {
      margin-right: 1rem;
    }
  }

  .name {
    font-weight: 500;
  }

  .role {
    font-weight: 200;
    font-size: 0.8rem;
  }
}

.icon_bell {
  position: relative;
  width: 4rem;

  .dot {
    position: absolute;
    background-color: $primary-red;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    top: 0.1rem;
    right: 2.8rem;
  }
}